<md-toolbar color="primary">
  <div class="md-toolbar-tools" fxLayout="row nowrap" fxFlex fxLayoutAlign="end center">
    <a class="ng-title-icon" href="http://angular.io" target="_blank"><i></i></a>
    <span fxFlex class="title">JohnPapa</span>
    <span fxFlex="grow"></span>
    <a fxFlex md-button [routerLink]="['/dashboard']"
      routerLinkActive="router-link-active"><span>Dashboard</span></a>
    <a fxFlex md-button [routerLink]="['/todo']"
      routerLinkActive="router-link-active"><span>Todo</span></a>
    <a fxFlex md-button [routerLink]="['/users']"
      routerLinkActive="router-link-active"><span>Users</span></a>
    <a fxFlex md-button href="http://johnpapa.net" target="_blank"><span>John Papa</span></a>
  </div>
</md-toolbar>